@font-face {
    font-family: Kapra;
    src: url(../../assets/fonts/Kapra-Regular.otf);
    font-weight: 400;
}


@font-face {
    font-family: Kapra;
    src: url(../../assets/fonts/Kapra-Regular.otf);
    font-weight: 400;
}


@font-face {
    font-family: Kapra;
    src: url(../../assets/fonts/Kapra-Bold.otf);
    font-weight: 600;
}