$colour-primary-darkblue: #0D214D;
$colour-secondary-yellow: #FDBA12;
$colour-button-initial: #EDEEF3;
$colour-button-selected: #384378;
$colour-body-copy-1: #FFFFFF;
$colour-body-copy-2: #4A4A4A;
$colour-heading-2: #061556;
$colour-text-link: #005EDC;
$colour-footer-background: #203559;
$colour-star: #E69335;