@use '../../styles/partials/globals.scss' as *;

.quiz {
    text-align: center;

    &__question {
        padding: 2rem 0 1.5rem;
    }

    &__button {
        width: 29.4375rem;
        color: #384378;
        background-color: #EDEEF3;
        border: none;
        padding: 0.625rem 1rem;
        margin: 0.9375rem 1rem;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            color: white;
            background-color: #384378;
        }
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 25vw;
    }

    &__answer-list {
        display: flex;
        flex-direction: column;
    }

    &__next {
        width: 19.4375rem;
        color: black;
        background-color: $colour-yellow;
        border: none;
        margin: 0.9375rem 1rem;
        padding: 0.625rem 1rem;
    }
}