@use "../../styles/partials/globals.scss" as *;

.close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colour-secondary-yellow;
  color: black;
  width: 38.3125rem;
  height: 2.5rem;
  margin-top: 2rem;

}

.btn-modal {
  background-color: $colour-primary-darkblue;
  color: $colour-primary-darkblue;
  border: none;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 38.3125rem;
  height: 32.75rem;
  background-color: white;
  border-radius: 10%;
}

.overlay {
  width: 38.3125rem;
  height: 32.75rem;
  position: fixed;
}

.title {
  font-weight: 700;
}

.button-container {
  display: flex;
  gap: 2rem;
}

.p-title {
  padding: 2rem 0 1rem;
  font-weight: 600;
}

.slogan {
  color: $colour-primary-darkblue;
  font-size: 93px
}