@use '../../styles/partials/globals.scss' as *;

.loading-page {
    height: 40vw;

    &__title {
        text-align: center;
        font-family: Kapra;
        font-weight: 400;
        font-size: 3rem;
        padding-top: 3rem;
    }
}