.img {
  width: 100%;
}

.info {
  position: absolute;
  top: 20rem;
  right: 34.5rem;
}

.h1 {
  color: white;
  font-size: 40px;
  font-family: Kapra;
  text-align: center;
}

.h2 {
  color: white;
  font-size: 80px;
  font-weight: 600;
  font-family: Kapra;
  text-align: center;
}

.result-page {
  margin-top: -1rem;
  margin-bottom: -2rem;
}

.option-img {
  width: 50%;
  margin-left: 20rem;
  margin-right: 10rem;
  margin-bottom: 4rem;
  // margin-top: -2rem;
}