@use '../../styles/partials/globals.scss' as *;

.home-page {
    height: 633vw;
    background-image: url(../../assets/images/webpage.svg);
    // background-position: center center;
    background-size: 100%;
    background-repeat: none;
    background-color: pink;
}